h1, h2 {margin-top: 0.5ex; margin-bottom: 0.2ex; text-align: left; font-weight: normal}
h1 {font-size: xx-large}
h2 {font-size: x-large}
h3 {font-size: large; font-weight: bold; margin-top: 1.5ex; margin-bottom: 0.5ex}
h4 {font-size: medium; font-weight: bold; font-style: italic; margin-top: 1.5ex; margin-bottom: 0.5ex}

.titlePage, .titlePage h1, .titlePage h2, .titlePage div img {text-align: center}
nav ol li {list-style-type: none; margin-bottom: 1ex}
nav ol li a {text-decoration: none}

.d {font-style: italic}
.mt, .mt2, .mt3, .imt, .imt2, .imt3 {margin-bottom: 1ex}
.mt, .mt2, .mt3 {text-align: center}
.mt, .imt {font-weight: bold}
.r {font-weight: normal; font-style: italic; margin-top: 0}
.is, .s {}
.is2, .s2 {}

.ili, .ip, .m, .p, .q, .q2, .q3, .q4 {margin-bottom: 0.4em; margin-top: 0.4em}
.ili {padding-left: 1.5em}
.ip {font-family: sans-serif}
.q, .q1, .pi {padding-left: 1.5em}
.q2 {padding-left: 2.5em}
.q3 {padding-left: 3.5em}
.q4 {padding-left: 4.5em}

.bd {font-weight: bold}
.bk {font-style: italic}
.dc {}
.em {font-style: italic}
.fq {font-style: italic}
.fqa {font-style: italic}
.fr {font-weight: bold; font-size: small}
.ft {}
.fv {}
.it {font-style: italic}
.k {font-weight: bold; font-style: italic}
.ord {font-size: small; vertical-align: top}
.pn {}
.qs {font-style: italic; float: right; padding-left: 1em}
.sls {font-style: italic}
.tl {font-style: italic}
.wj {color: #600}
.xt {font-weight: bold}

.chapter_nav {margin-top: 0.5ex; margin-bottom: 2ex; text-align: center}
.chapter_link {
    display: inline-block;
    line-height: 2ex;
    border-style: solid;
    border-color: #666;
    border-width: 2px;
    background-color: #CCC;
    padding: 0.25ex;
    margin: 0.5ex;
    vertical-align: middle
}
.chapter_link a {text-decoration: none}
.chapter {padding-right: 0.25em; float: left}
.chapter a {font-size: xx-large; text-decoration: none}
.verses {font-size: small; font-weight: bold}
a.glossaryLink {text-decoration: none}
a.footnote_anchor {font-size: small; vertical-align: top; text-decoration: none}
a.footnote_number {font-size: large; text-decoration: none}
div.footnote {padding-left: 2.5em; text-indent: -2.5em}

* {font-size: medium; font-family: serif}
